@use '../variables/variables' as v;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hiragino Sans', 'Yu Gothic', sans-serif;
    color: v.$color-text;
    line-height: 1.8;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}